<div class="card film">
  <ul>
    <lh>{{film.title}}</lh>
    <li>Episode {{film.episode_id}}</li>
    <li>Opening Text: {{film.opening_crawl}}</li>
    <li>Director: {{film.director}}</li>
    <li>Producer: {{film.producer}}</li>
    <li>Release Date: {{film.release_date}}</li>
  </ul>
</div>
