<div class="filter-content">
{{#each-in filterCategorys as |name filters|}}
  <div class="filter-category">
    <p>{{name}}</p>
    {{#if (neq name "Numeric")}}
      <div class="filter-checkboxes">
      {{#each filters as |filter|}}
        <label>
          {{input type='checkbox' click=(action "toggleFilter" filter) checked=(in-array queryParameter filter)}}
          {{filter}}
        </label>
      {{/each}}
      </div>
    {{else}}
      <div class="filter-inputs">
        {{#each filters as |filter|}}
          <div class="filter-input">
            <p>{{filter.name}}:</p>
            <select onchange={{action 'selectType' value="target.value"}}>
              <option value="{{filter.name}}-gt" selected={{eq filter.type 'gt'}}>&gt;</option>
              <option value="{{filter.name}}-eq" selected={{eq filter.type 'eq'}}>=</option>
              <option value="{{filter.name}}-lt" selected={{eq filter.type 'lt'}}>&lt;</option>
            </select>
            {{input type="number" min=0 value=filter.value input=(action "valChange" (to-lowercase filter.name) filter.value)}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/each-in}}
</div>
