<div class="section planets">
<h3>Planets</h3>
{{#each planets as |planet|}}
  {{#link-to "planets" planet.id}}
    <div class="card planet">
      <ul>
        <lh>{{planet.name}}</lh>
        <li>Diameter: {{planet.diameter}}km</li>
        <li>Rotation Time: {{planet.rotation_period}}</li>
        <li>Orgital Time: {{planet.orbital_period}}</li>
        <li>Gravity: {{planet.gravity}} G</li>
        <li>Population: {{planet.population}}</li>
        <li>Climate: {{planet.climate}}</li>
        <li>Terrain: {{planet.terrain}}</li>
        <li>Surface Water: {{planet.surface_water}}%</li>
      </ul>
    </div>
  {{/link-to}}
{{else}}
  {{#if planets}}
    {{#link-to "planets" planets.id}}
      <div class="card planet">
        <ul>
          <lh>{{planets.name}}</lh>
          <li>Diameter: {{planets.diameter}}km</li>
          <li>Rotation Time: {{planets.rotation_period}}</li>
          <li>Orgital Time: {{planets.orbital_period}}</li>
          <li>Gravity: {{planets.gravity}} G</li>
          <li>Population: {{planets.population}}</li>
          <li>Climate: {{planets.climate}}</li>
          <li>Terrain: {{planets.terrain}}</li>
          <li>Surface Water: {{planets.surface_water}}%</li>
        </ul>
      </div>
    {{/link-to}}
  {{else}}
    No Planets
  {{/if}}
{{/each}}
</div>
