<div class="card species">
  <ul>
    <lh>{{species.name}}</lh>
    <li>Classification: {{species.classification}}</li>
    <li>Designation: {{species.designation}}</li>
    <li>Average Height: {{species.average_height}}cm</li>
    <li>Average Lifespan: {{species.average_lifespan}}</li>
    <li>Eye Colors: {{species.eye_colors}}</li>
    <li>Hair Colors: {{species.hair_colors}}</li>
    <li>Skin Colors: {{species.skin_colors}}</li>
    <li>Language: {{species.language}}</li>
  </ul>
</div>
