<div class="section species">
<h3>Species</h3>
{{#each species as |specie|}}
{{#link-to "species" specie.id}}
<div class="card specie">
  <ul>
    <lh>{{specie.name}}</lh>
    <li>Classification: {{specie.classification}}</li>
    <li>Designation: {{specie.designation}}</li>
    <li>Average Height: {{specie.average_height}}cm</li>
    <li>Average Lifespan: {{specie.average_lifespan}}</li>
    <li>Eye Colors: {{specie.eye_colors}}</li>
    <li>Hair Colors: {{specie.hair_colors}}</li>
    <li>Skin Colors: {{specie.skin_colors}}</li>
    <li>Language: {{specie.language}}</li>
  </ul>
</div>
{{/link-to}}
{{else}}No Species{{/each}}
</div>
