{{#link-to "starships" starship.id}}
<div class="card starship">
  <ul>
    <lh>{{starship.name}}</lh>
    <li>Model: {{starship.model}}</li>
    <li>Class: {{starship.starship_class}}</li>
    <li>Manufacturer: {{starship.manufacturer}}</li>
    <li>Cost in Credits: {{starship.cost_in_credits}}</li>
    <li>Length: {{starship.length}}m</li>
    <li>Crew: {{starship.crew}}</li>
    <li>Passengers: {{starship.passengers}}</li>
    <li>Speed in Atmosphere: {{starship.max_atmosphering_speed}}</li>
    <li>Hyperdrive Rating: {{starship.hyperdrive_rating}}</li>
    <li>MGLT/h: {{starship.MGLT}}</li>
    <li>Cargo Capacity: {{starship.cargo_capacity}}</li>
    <li>Consumables: {{starship.consumables}}</li>
    </ul>
</div>
{{/link-to}}
