<div class="head">
  <h1>Recursive Star Wars Info</h1>
  {{link-to "Home""index"}}
  {{input value=search key-press=(action "search") placeholder="Search" class="search"}}
</div>
<div class="content">
  {{log model}}
  {{log results}}
  {{#if results.pilots}}
    {{people-component people=results.pilots}}
  {{else if results.characters}}
    {{people-component people=results.characters}}
  {{else if results.people}}
    {{people-component people=results.people}}
  {{else if results.residents}}
    {{people-component people=results.residents}}
  {{/if}}

  {{#if results.planets}}
    {{planets-component planets=results.planets}}
  {{else if results.homeworld}}
    {{planets-component planets=results.homeworld}}
  {{/if}}

  {{species-component species=results.species}}
  {{starships-component starships=results.starships}}
  {{vehicles-component vehicles=results.vehicles}}
  {{films-component films=results.films}}
</div>
