<div class="checkboxes">
{{#each categorys as |category|}}
  <label>
  <input type="checkbox" onclick={{action 'toggleCategory' category}} checked={{get this (to-lowercase category)}}/>
  {{category}}
  </label>
{{/each}}
</div>

<details class="filters">
  <summary>More Filter</summary>
  <div class="filters-content">
    {{#if people}}
    <details class="filter people" id="filter-people">
      <summary>People Filter</summary>
      {{filter-component filterCategorys=filters.people toggleFilter=(action "toggleFilter")}}
      <label>
        Height:
        {{input type="number" min=0 value=value input=(action "valChange" "height" value)}}
      </label>
    </details>
    {{/if}}
    {{#if starships}}
    <details class="filter starships" id="filter-starships">
      <summary>Starships Filter</summary>
      {{filter-component filterCategorys=filters.starships toggleFilter=(action "toggleFilter")}}
    </details>
    {{/if}}
    {{#if vehicles}}
    <details class="filter vehicles" id="filter-vehicles">
      <summary>Vehicles Filter</summary>
      {{filter-component filterCategorys=filters.vehicles toggleFilter=(action "toggleFilter")}}
    </details>
    {{/if}}
    {{#if species}}
    <details class="filter species" id="filter-species">
      <summary>Species Filter</summary>
      {{filter-component filterCategorys=filters.species toggleFilter=(action "toggleFilter")}}
    </details>
    {{/if}}
    {{#if planets}}
    <details class="filter planets" id="filter-planets">
      <summary>Planets Filter</summary>
      {{filter-component filterCategorys=filters.planets toggleFilter=(action "toggleFilter")}}
    </details>
    {{/if}}
    {{#if films}}
    <details class="filter films" id="filter-films">
      <summary>Films Filter</summary>
      {{filter-component filterCategorys=filters.films toggleFilter=(action "toggleFilter")}}
    </details>
    {{/if}}
  </div>
</details>

<input value={{search}} onKeyUp={{action "handleSearch" value="target.value"}} placeholder="Search" class="search"/>

{{#if model.people}}
<details open class="section people">
  <summary>People</summary>
  {{people-component people=filteredModel.people}}
</details>
{{/if}}

{{#if model.starships}}
<details class="section starships">
  <summary>Starships</summary>
  {{starships-component starships=filteredModel.starships}}
</details>
{{/if}}

{{#if model.vehicles}}
<details class="section vehicles">
  <summary>Vehicles</summary>
  {{vehicles-component vehicles=filteredModel.vehicles}}
</details>
{{/if}}

{{#if model.species}}
<details class="section species">
  <summary>Species</summary>
  {{species-component species=filteredModel.species}}
</details>
{{/if}}

{{#if model.planets}}
<details class="section planets">
  <summary>Planets</summary>
    {{planets-component planets=filteredModel.planets}}
</details>
{{/if}}

{{#if model.films}}
<details class="section films">
  <summary>Films</summary>
  {{films-component films=filteredModel.films}}
</details>
{{/if}}

