{{category-listing categories=categories toggle=(action "toggleCategory")}}

<details class="filters">
  <summary>More Filter</summary>
  <div class="filters-content">
    {{#if people}}
    <details class="filter people" id="filter-people">
      <summary>People Filter</summary>
      {{filter-component
        filterCategories=filters.people
        queryParameter=selectedFilters
        toggleFilter=(action "toggleFilter")
        selectType=(action "selectType")
        valChange=(action "valChange")}}
    </details>
    {{/if}}
    {{#if starships}}
    <details class="filter starships" id="filter-starships">
      <summary>Starships Filter</summary>
      {{filter-component
        filterCategories=filters.starships
        queryParameter=selectedFilters
        toggleFilter=(action "toggleFilter")
        selectType=(action "selectType")
        valChange=(action "valChange")}}
    </details>
    {{/if}}
    {{#if vehicles}}
    <details class="filter vehicles" id="filter-vehicles">
      <summary>Vehicles Filter</summary>
      {{filter-component
        filterCategories=filters.vehicles
        queryParameter=selectedFilters
        toggleFilter=(action "toggleFilter")
        selectType=(action "selectType")
        valChange=(action "valChange")}}
    </details>
    {{/if}}
    {{#if species}}
    <details class="filter species" id="filter-species">
      <summary>Species Filter</summary>
      {{filter-component
        filterCategories=filters.species
        queryParameter=selectedFilters
        toggleFilter=(action "toggleFilter")
        selectType=(action "selectType")
        valChange=(action "valChange")}}
    </details>
    {{/if}}
    {{#if planets}}
    <details class="filter planets" id="filter-planets">
      <summary>Planets Filter</summary>
      {{filter-component
        filterCategories=filters.planets
        queryParameter=selectedFilters
        toggleFilter=(action "toggleFilter")
        selectType=(action "selectType")
        valChange=(action "valChange")}}
    </details>
    {{/if}}
    {{#if films}}
    <details class="filter films" id="filter-films">
      <summary>Films Filter</summary>
      {{filter-component
        filterCategories=filters.films
        queryParameter=selectedFilters
        toggleFilter=(action "toggleFilter")
        selectType=(action "selectType")
        valChange=(action "valChange")}}
    </details>
    {{/if}}
  </div>
</details>

{{input
  type="text"
  class="search"
  value=search
  placeholder="Search"
  onKeyUp=(action "handleSearch" search)}}

{{search-display
  model=model
  categories=categories
  selectedFilters=selectedFilters
  getFilterInfo=getFilterInfo}}
