<div class="checkboxes">
{{#each categoryWithSelected as |category|}}
  <label>
  <input type="checkbox" onclick={{action 'toggleCategory' category}} checked={{category.checked}}/>
  {{category.name}}
  </label>
{{/each}}
</div>

<details class="filters">
  <summary>More Filter</summary>
  <div class="filters-content">
    {{#if people}}
    <details class="filter people" id="filter-people">
      <summary>People Filter</summary>
    </details>
    {{/if}}
    {{#if starships}}
    <details class="filter starships" id="filter-starships">
      <summary>Starships Filter</summary>
    </details>
    {{/if}}
    {{#if vehicles}}
    <details class="filter vehicles" id="filter-vehicles">
      <summary>Vehicles Filter</summary>
    </details>
    {{/if}}
    {{#if species}}
    <details class="filter species" id="filter-species">
      <summary>Species Filter</summary>
    </details>
    {{/if}}
    {{#if planets}}
    <details class="filter planets" id="filter-planets">
      <summary>Planets Filter</summary>
    </details>
    {{/if}}
    {{#if films}}
    <details class="filter films" id="filter-films">
      <summary>Films Filter</summary>
    </details>
    {{/if}}
  </div>
</details>

<input value={{search}} onKeyUp={{action "handleSearch" value="target.value"}} placeholder="Search" class="search"/>

{{#if model.people}}
<details open class="section people">
  <summary>People</summary>
  {{people-component people=model.people}}
</details>
{{/if}}

{{#if model.starships}}
<details class="section starships">
  <summary>Starships</summary>
  {{starships-component starships=model.starships}}
</details>
{{/if}}

{{#if model.vehicles}}
<details class="section vehicles">
  <summary>Vehicles</summary>
  {{vehicles-component vehicles=model.vehicles}}
</details>
{{/if}}

{{#if model.species}}
<details class="section species">
  <summary>Species</summary>
  {{species-component species=model.species}}
</details>
{{/if}}

{{#if model.planets}}
<details class="section planets">
  <summary>Planets</summary>
    {{planets-component planets=model.planets}}
</details>
{{/if}}

{{#if model.films}}
<details class="section films">
  <summary>Films</summary>
  {{films-component films=model.films}}
</details>
{{/if}}

{{outlet}}
